.btn-outline-add {
  color: #5f9fff !important;
  border-radius: 0;
  border: 1px solid #5f9fff;
  padding: 0px 0.6rem;
  font-size: 1.3rem;
}

.btn-outline-default {
  color: $hermod-card-header-background !important;
  border: 1px solid $hermod-card-header-background;
}
