body {
  background-color: #ffffff;
  letter-spacing: unset;
  background-image: url("../bg.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.login {
  .card {
    header {
      background-color: white;
      border-bottom: 0px !important;
      font-size: 50px;
    }
  }
}
